<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WSAddress" value="http://192.168.100.144:8090/tag_webservice/services/ServicesBLPort?wsdl"/>
    <add key="DBName" value="AppDatabase.sdf"/>
    <add key="DBPassword" value="P@ssw0rd"/>
  </appSettings>
</configuration>
